.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.843000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.843000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.110000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.204590;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.204590;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.130000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.132000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.132000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:1.130000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls8{letter-spacing:-0.144000px;}
.ls3{letter-spacing:-0.096000px;}
.ls7{letter-spacing:-0.057600px;}
.ls4{letter-spacing:-0.000004px;}
.ls0{letter-spacing:0.000000px;}
.ls6{letter-spacing:0.000004px;}
.ls2{letter-spacing:0.038400px;}
.ls5{letter-spacing:0.096000px;}
.ls1{letter-spacing:0.221200px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-2.147712px;}
._9{margin-left:-1.104000px;}
._2{width:1.104000px;}
._a{width:2.228160px;}
._5{width:51.776061px;}
._1{width:73.325312px;}
._3{width:78.032000px;}
._4{width:87.440000px;}
._b{width:421.919954px;}
._c{width:424.919954px;}
._6{width:862.160011px;}
._7{width:1317.056000px;}
._8{width:1979.040000px;}
.fc3{color:rgb(229,225,230);}
.fc2{color:rgb(101,95,103);}
.fc1{color:rgb(195,188,195);}
.fc0{color:rgb(239,237,239);}
.fs2{font-size:48.000000px;}
.fs8{font-size:60.000000px;}
.fs4{font-size:63.840000px;}
.fs14{font-size:68.160000px;}
.fs13{font-size:68.256000px;}
.fsc{font-size:72.000000px;}
.fsd{font-size:72.096000px;}
.fs5{font-size:84.000000px;}
.fse{font-size:84.096000px;}
.fsb{font-size:96.000000px;}
.fsa{font-size:96.096000px;}
.fsf{font-size:114.240000px;}
.fs10{font-size:114.336000px;}
.fs9{font-size:126.240000px;}
.fs1{font-size:126.336000px;}
.fs3{font-size:128.160000px;}
.fs6{font-size:144.000000px;}
.fs7{font-size:240.000000px;}
.fs12{font-size:393.120000px;}
.fs11{font-size:393.216000px;}
.fs0{font-size:825.200000px;}
.y0{bottom:0.000000px;}
.y22{bottom:95.592000px;}
.y21{bottom:125.230000px;}
.y43{bottom:148.250000px;}
.y5c{bottom:150.550000px;}
.y13{bottom:153.820000px;}
.y20{bottom:154.990000px;}
.y3a{bottom:156.430000px;}
.y6{bottom:173.230000px;}
.y2e{bottom:181.100000px;}
.y5b{bottom:184.150000px;}
.y1f{bottom:184.630000px;}
.y42{bottom:189.790000px;}
.y54{bottom:191.520000px;}
.y39{bottom:192.070000px;}
.y5{bottom:197.640000px;}
.y8{bottom:197.660000px;}
.y4d{bottom:212.760000px;}
.y62{bottom:213.890000px;}
.y1e{bottom:214.390000px;}
.y2d{bottom:217.100000px;}
.y5a{bottom:217.870000px;}
.y60{bottom:217.990000px;}
.y38{bottom:227.740000px;}
.y57{bottom:228.890000px;}
.yd{bottom:230.640000px;}
.y41{bottom:231.430000px;}
.y53{bottom:237.720000px;}
.y27{bottom:237.910000px;}
.y4c{bottom:239.930000px;}
.y1d{bottom:244.060000px;}
.y59{bottom:251.470000px;}
.y5f{bottom:251.590000px;}
.y1c{bottom:273.820000px;}
.y4b{bottom:275.930000px;}
.y52{bottom:283.820000px;}
.y26{bottom:285.190000px;}
.y58{bottom:285.220000px;}
.y5e{bottom:285.310000px;}
.y2c{bottom:289.130000px;}
.ye{bottom:291.220000px;}
.y44{bottom:295.800000px;}
.y37{bottom:299.020000px;}
.y46{bottom:300.500000px;}
.y2{bottom:300.770000px;}
.yc{bottom:301.920000px;}
.y1b{bottom:303.460000px;}
.y4a{bottom:311.930000px;}
.y12{bottom:324.530000px;}
.y2b{bottom:325.130000px;}
.y51{bottom:330.020000px;}
.y11{bottom:330.410000px;}
.y25{bottom:332.500000px;}
.y1a{bottom:333.220000px;}
.y36{bottom:334.660000px;}
.y5d{bottom:336.240000px;}
.y61{bottom:336.340000px;}
.y49{bottom:347.930000px;}
.y56{bottom:358.630000px;}
.y19{bottom:362.860000px;}
.y50{bottom:376.220000px;}
.y24{bottom:379.780000px;}
.y32{bottom:382.970000px;}
.y48{bottom:383.930000px;}
.y18{bottom:392.620000px;}
.y2a{bottom:397.130000px;}
.y35{bottom:405.960000px;}
.y1{bottom:407.470000px;}
.y31{bottom:418.610000px;}
.y47{bottom:419.950000px;}
.y17{bottom:422.280000px;}
.y4f{bottom:422.420000px;}
.y45{bottom:430.130000px;}
.y29{bottom:433.150000px;}
.y34{bottom:441.600000px;}
.y16{bottom:452.040000px;}
.y30{bottom:454.250000px;}
.y4e{bottom:468.530000px;}
.ya{bottom:470.330000px;}
.y33{bottom:477.240000px;}
.y3f{bottom:480.820000px;}
.y15{bottom:481.680000px;}
.y55{bottom:488.260000px;}
.y2f{bottom:489.890000px;}
.y10{bottom:505.010000px;}
.y3e{bottom:522.360000px;}
.yb{bottom:529.750000px;}
.y9{bottom:533.690000px;}
.y23{bottom:537.310000px;}
.y3d{bottom:564.000000px;}
.y3c{bottom:587.760000px;}
.yf{bottom:625.460000px;}
.y40{bottom:628.340000px;}
.y14{bottom:628.460000px;}
.y28{bottom:647.540000px;}
.y3b{bottom:651.120000px;}
.y4{bottom:750.290000px;}
.y7{bottom:751.800000px;}
.y3{bottom:751.920000px;}
.h3{height:45.304688px;}
.hb{height:57.000000px;}
.h5{height:60.648000px;}
.h1a{height:64.752000px;}
.h19{height:64.843200px;}
.h10{height:68.400000px;}
.h11{height:68.491200px;}
.ha{height:79.800000px;}
.h12{height:79.891200px;}
.h7{height:79.968000px;}
.hf{height:91.200000px;}
.he{height:91.291200px;}
.h13{height:107.825156px;}
.h14{height:107.915766px;}
.h17{height:108.528000px;}
.h16{height:108.619200px;}
.hc{height:119.928000px;}
.h2{height:120.019200px;}
.h1b{height:120.180480px;}
.h4{height:120.963516px;}
.h6{height:122.008320px;}
.hd{height:135.914062px;}
.h8{height:137.088000px;}
.h9{height:199.680000px;}
.h18{height:327.075840px;}
.h15{height:327.155712px;}
.h1{height:686.566400px;}
.h0{height:810.000000px;}
.w1{width:1439.999979px;}
.w0{width:1440.000000px;}
.x0{left:0.000000px;}
.x3{left:44.255979px;}
.xb{left:78.767979px;}
.x1f{left:92.447979px;}
.x1d{left:93.863979px;}
.x1{left:95.279979px;}
.x24{left:99.767979px;}
.x2f{left:113.999979px;}
.x9{left:116.259979px;}
.x11{left:133.509979px;}
.x23{left:146.829979px;}
.x29{left:150.719979px;}
.x5{left:176.229979px;}
.xc{left:203.259979px;}
.xf{left:266.399979px;}
.xd{left:285.259979px;}
.x18{left:288.719979px;}
.x1b{left:295.919979px;}
.x6{left:297.019979px;}
.x12{left:304.559979px;}
.x17{left:310.199979px;}
.x2d{left:336.699979px;}
.x13{left:342.359979px;}
.x14{left:351.839979px;}
.x2{left:354.049979px;}
.x19{left:374.999979px;}
.x1a{left:410.879979px;}
.x25{left:429.049979px;}
.x2e{left:450.719979px;}
.x15{left:464.999979px;}
.x22{left:467.879979px;}
.x1c{left:473.349979px;}
.x16{left:488.109979px;}
.x28{left:490.699979px;}
.x2c{left:523.319979px;}
.x30{left:552.789979px;}
.x32{left:559.389979px;}
.x2b{left:570.789979px;}
.x10{left:737.329979px;}
.x21{left:739.219979px;}
.x1e{left:745.439979px;}
.x20{left:752.589979px;}
.x26{left:758.329979px;}
.xe{left:923.659979px;}
.x7{left:925.149979px;}
.x31{left:991.579979px;}
.x8{left:996.339979px;}
.x27{left:1086.839979px;}
.xa{left:1332.379979px;}
.x2a{left:1369.149979px;}
.x4{left:1373.349979px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls8{letter-spacing:-0.192000pt;}
.ls3{letter-spacing:-0.128000pt;}
.ls7{letter-spacing:-0.076800pt;}
.ls4{letter-spacing:-0.000005pt;}
.ls0{letter-spacing:0.000000pt;}
.ls6{letter-spacing:0.000005pt;}
.ls2{letter-spacing:0.051200pt;}
.ls5{letter-spacing:0.128000pt;}
.ls1{letter-spacing:0.294933pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-2.863616pt;}
._9{margin-left:-1.472000pt;}
._2{width:1.472000pt;}
._a{width:2.970880pt;}
._5{width:69.034748pt;}
._1{width:97.767083pt;}
._3{width:104.042667pt;}
._4{width:116.586667pt;}
._b{width:562.559939pt;}
._c{width:566.559939pt;}
._6{width:1149.546682pt;}
._7{width:1756.074667pt;}
._8{width:2638.720000pt;}
.fs2{font-size:64.000000pt;}
.fs8{font-size:80.000000pt;}
.fs4{font-size:85.120000pt;}
.fs14{font-size:90.880000pt;}
.fs13{font-size:91.008000pt;}
.fsc{font-size:96.000000pt;}
.fsd{font-size:96.128000pt;}
.fs5{font-size:112.000000pt;}
.fse{font-size:112.128000pt;}
.fsb{font-size:128.000000pt;}
.fsa{font-size:128.128000pt;}
.fsf{font-size:152.320000pt;}
.fs10{font-size:152.448000pt;}
.fs9{font-size:168.320000pt;}
.fs1{font-size:168.448000pt;}
.fs3{font-size:170.880000pt;}
.fs6{font-size:192.000000pt;}
.fs7{font-size:320.000000pt;}
.fs12{font-size:524.160000pt;}
.fs11{font-size:524.288000pt;}
.fs0{font-size:1100.266667pt;}
.y0{bottom:0.000000pt;}
.y22{bottom:127.456000pt;}
.y21{bottom:166.973333pt;}
.y43{bottom:197.666667pt;}
.y5c{bottom:200.733333pt;}
.y13{bottom:205.093333pt;}
.y20{bottom:206.653333pt;}
.y3a{bottom:208.573333pt;}
.y6{bottom:230.973333pt;}
.y2e{bottom:241.466667pt;}
.y5b{bottom:245.533333pt;}
.y1f{bottom:246.173333pt;}
.y42{bottom:253.053333pt;}
.y54{bottom:255.360000pt;}
.y39{bottom:256.093333pt;}
.y5{bottom:263.520000pt;}
.y8{bottom:263.546667pt;}
.y4d{bottom:283.680000pt;}
.y62{bottom:285.186667pt;}
.y1e{bottom:285.853333pt;}
.y2d{bottom:289.466667pt;}
.y5a{bottom:290.493333pt;}
.y60{bottom:290.653333pt;}
.y38{bottom:303.653333pt;}
.y57{bottom:305.186667pt;}
.yd{bottom:307.520000pt;}
.y41{bottom:308.573333pt;}
.y53{bottom:316.960000pt;}
.y27{bottom:317.213333pt;}
.y4c{bottom:319.906667pt;}
.y1d{bottom:325.413333pt;}
.y59{bottom:335.293333pt;}
.y5f{bottom:335.453333pt;}
.y1c{bottom:365.093333pt;}
.y4b{bottom:367.906667pt;}
.y52{bottom:378.426667pt;}
.y26{bottom:380.253333pt;}
.y58{bottom:380.293333pt;}
.y5e{bottom:380.413333pt;}
.y2c{bottom:385.506667pt;}
.ye{bottom:388.293333pt;}
.y44{bottom:394.400000pt;}
.y37{bottom:398.693333pt;}
.y46{bottom:400.666667pt;}
.y2{bottom:401.026667pt;}
.yc{bottom:402.560000pt;}
.y1b{bottom:404.613333pt;}
.y4a{bottom:415.906667pt;}
.y12{bottom:432.706667pt;}
.y2b{bottom:433.506667pt;}
.y51{bottom:440.026667pt;}
.y11{bottom:440.546667pt;}
.y25{bottom:443.333333pt;}
.y1a{bottom:444.293333pt;}
.y36{bottom:446.213333pt;}
.y5d{bottom:448.320000pt;}
.y61{bottom:448.453333pt;}
.y49{bottom:463.906667pt;}
.y56{bottom:478.173333pt;}
.y19{bottom:483.813333pt;}
.y50{bottom:501.626667pt;}
.y24{bottom:506.373333pt;}
.y32{bottom:510.626667pt;}
.y48{bottom:511.906667pt;}
.y18{bottom:523.493333pt;}
.y2a{bottom:529.506667pt;}
.y35{bottom:541.280000pt;}
.y1{bottom:543.293333pt;}
.y31{bottom:558.146667pt;}
.y47{bottom:559.933333pt;}
.y17{bottom:563.040000pt;}
.y4f{bottom:563.226667pt;}
.y45{bottom:573.506667pt;}
.y29{bottom:577.533333pt;}
.y34{bottom:588.800000pt;}
.y16{bottom:602.720000pt;}
.y30{bottom:605.666667pt;}
.y4e{bottom:624.706667pt;}
.ya{bottom:627.106667pt;}
.y33{bottom:636.320000pt;}
.y3f{bottom:641.093333pt;}
.y15{bottom:642.240000pt;}
.y55{bottom:651.013333pt;}
.y2f{bottom:653.186667pt;}
.y10{bottom:673.346667pt;}
.y3e{bottom:696.480000pt;}
.yb{bottom:706.333333pt;}
.y9{bottom:711.586667pt;}
.y23{bottom:716.413333pt;}
.y3d{bottom:752.000000pt;}
.y3c{bottom:783.680000pt;}
.yf{bottom:833.946667pt;}
.y40{bottom:837.786667pt;}
.y14{bottom:837.946667pt;}
.y28{bottom:863.386667pt;}
.y3b{bottom:868.160000pt;}
.y4{bottom:1000.386667pt;}
.y7{bottom:1002.400000pt;}
.y3{bottom:1002.560000pt;}
.h3{height:60.406250pt;}
.hb{height:76.000000pt;}
.h5{height:80.864000pt;}
.h1a{height:86.336000pt;}
.h19{height:86.457600pt;}
.h10{height:91.200000pt;}
.h11{height:91.321600pt;}
.ha{height:106.400000pt;}
.h12{height:106.521600pt;}
.h7{height:106.624000pt;}
.hf{height:121.600000pt;}
.he{height:121.721600pt;}
.h13{height:143.766875pt;}
.h14{height:143.887687pt;}
.h17{height:144.704000pt;}
.h16{height:144.825600pt;}
.hc{height:159.904000pt;}
.h2{height:160.025600pt;}
.h1b{height:160.240640pt;}
.h4{height:161.284687pt;}
.h6{height:162.677760pt;}
.hd{height:181.218750pt;}
.h8{height:182.784000pt;}
.h9{height:266.240000pt;}
.h18{height:436.101120pt;}
.h15{height:436.207616pt;}
.h1{height:915.421867pt;}
.h0{height:1080.000000pt;}
.w1{width:1919.999971pt;}
.w0{width:1920.000000pt;}
.x0{left:0.000000pt;}
.x3{left:59.007971pt;}
.xb{left:105.023971pt;}
.x1f{left:123.263971pt;}
.x1d{left:125.151971pt;}
.x1{left:127.039971pt;}
.x24{left:133.023971pt;}
.x2f{left:151.999971pt;}
.x9{left:155.013305pt;}
.x11{left:178.013305pt;}
.x23{left:195.773305pt;}
.x29{left:200.959971pt;}
.x5{left:234.973305pt;}
.xc{left:271.013305pt;}
.xf{left:355.199971pt;}
.xd{left:380.346638pt;}
.x18{left:384.959971pt;}
.x1b{left:394.559971pt;}
.x6{left:396.026638pt;}
.x12{left:406.079971pt;}
.x17{left:413.599971pt;}
.x2d{left:448.933305pt;}
.x13{left:456.479971pt;}
.x14{left:469.119971pt;}
.x2{left:472.066638pt;}
.x19{left:499.999971pt;}
.x1a{left:547.839971pt;}
.x25{left:572.066638pt;}
.x2e{left:600.959971pt;}
.x15{left:619.999971pt;}
.x22{left:623.839971pt;}
.x1c{left:631.133305pt;}
.x16{left:650.813305pt;}
.x28{left:654.266638pt;}
.x2c{left:697.759971pt;}
.x30{left:737.053305pt;}
.x32{left:745.853305pt;}
.x2b{left:761.053305pt;}
.x10{left:983.106638pt;}
.x21{left:985.626638pt;}
.x1e{left:993.919971pt;}
.x20{left:1003.453305pt;}
.x26{left:1011.106638pt;}
.xe{left:1231.546638pt;}
.x7{left:1233.533305pt;}
.x31{left:1322.106638pt;}
.x8{left:1328.453305pt;}
.x27{left:1449.119971pt;}
.xa{left:1776.506638pt;}
.x2a{left:1825.533305pt;}
.x4{left:1831.133305pt;}
}
